# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific files
.DS_Store
Thumbs.db

# Machine Learning Models (Serialized Pickle files)
*.pkl
data/*.pkl
